//
// Colors
//
$white-color: #fff !important;

$grey0: #F6F8F9 !important;
$grey1: #EDF1F5 !important;
$grey2: #D3D8DE !important;
$grey3: #B6BEC5 !important;
$grey4: #9AA4AC !important;
$grey5: #7F8A94 !important;
$grey6: #63707C !important;
$grey7: #475764 !important;
$grey8: #253542 !important;
$grey9: #102333 !important;

// Tiffany Color
$tiffany-color: #00c6c5 !important;
$tiffany-light: #b4f5f5 !important;
$tiffany-medium: #00a0aa !important;
$tiffany-dark: #00828a !important;

// Green Color
$green-color: #8bbd4f !important;
$green-light: #dcf3c0 !important;
$green-medium: #79a345 !important;
$green-dark: #668a3a !important;

// Yellow Color
$yellow-color: #f8c513 !important;
$yellow-light: #ffedab !important;
$yellow-medium: #dfb212 !important;
$yellow-dark: #cea307 !important;

// Orange Color
$orange-color: #eb8931 !important;
$orange-light: #fedcac !important;
$orange-medium: #d17019 !important;
$orange-dark: #ba5f0d !important;

// Red Color
$red-color: #db4535 !important;
$red-color-rgb: rgb(219, 69, 53);

$red-light: #ffd3ce !important;
$red-medium: #c13627 !important;
$red-dark: #a82b1e !important;

// Pink Color
$pink-color: #f04c77 !important;
$pink-light: #fed3e0 !important;
$pink-medium: #d02f60 !important;
$pink-dark: #ac224c !important;

// Purple Color
$purple-color: #8542a4 !important;
$purple-light: #f0ddf9 !important;
$purple-medium: #692c85 !important;
$purple-dark: #531c6c !important;

// Blue Color
$blue-color: #208fcf !important;
$blue-light: #e5f6ff !important;
$blue-medium-light: #92c7e5 !important;
$blue-medium: #1d7eb6 !important;
$blue-dark: #136594 !important;

// Navy-Blue Color
$navy-blue-color: #3b55b2 !important;
$navy-blue-light: #d6def9 !important;
$navy-blue-medium: #243e98 !important;
$navy-blue-dark: #112776 !important;

// PRO
$orange-pro: #fe9d2e !important;

// AMBER
$amber-color: #ffc107 !important;
// INDIGO
$indigo-color: #3f51b5 !important;
// teal
$teal-color: #009688 !important;

// NOVAS CORES
$blue1: #D4EDFA !important;
$blue2: #b3dbf1 !important;
$blue3: #92c7e5 !important;
$blue4: #59abda !important;
$blue5: #208fcf !important;
$blue6: #1f87c3 !important;
$blue7: #1d7eb6 !important;
$blue8: #1872a5 !important;
$blue9: #136594 !important;

$tiffany1: #DCF7F7 !important;
$tiffany2: #8beaea !important;
$tiffany3: #5de5e6 !important;
$tiffany4: #2ee1e1 !important;
$tiffany5: #00dcdd !important;
$tiffany6: #00c4c4 !important;
$tiffany7: #00acab !important;
$tiffany8: #008e90 !important;
$tiffany9: #006f75 !important;

$green1: #E6F9D1 !important;
$green2: #bde58d !important;
$green3: #acd879 !important;
$green4: #9cca64 !important;
$green5: #8bbd4f !important;
$green6: #82b04a !important;
$green7: #79a345 !important;
$green8: #709740 !important;
$green9: #567432 !important;

$yellow1: #FAEEC5 !important;
$yellow2: #f6d66d !important;
$yellow3: #f7d14f !important;
$yellow4: #f7cb31 !important;
$yellow5: #f8c513 !important;
$yellow6: #ecbc13 !important;
$yellow7: #dfb212 !important;
$yellow8: #d0a610 !important;
$yellow9: #c19a0e !important;

$orange1: #FFE9DA !important;
$orange2: #fac193 !important;
$orange3: #f2ab79 !important;
$orange4: #f09c52 !important;
$orange5: #eb8931 !important;
$orange6: #de7d25 !important;
$orange7: #d17019 !important;
$orange8: #c66813 !important;
$orange9: #ba5f0d !important;

$red1: #FEE4E1 !important;
$red2: #f4a7a0 !important;
$red3: #ec7f75 !important;
$red4: #e36659 !important;
$red5: #db4535 !important;
$red6: #ce3e2e !important;
$red7: #c13627 !important;
$red8: #b53123 !important;
$red9: #a82b1e !important;

$pink1: #FAE5EA !important;
$pink2: #fbc8d3 !important;
$pink3: #f79fb4 !important;
$pink4: #f47596 !important;
$pink5: #f04c77 !important;
$pink6: #e53c6a !important;
$pink7: #db2b5e !important;
$pink8: #d01b51 !important;
$pink9: #c50a44 !important;

$purple1: #F6EAFE !important;
$purple2: #cfaae8 !important;
$purple3: #b78dd3 !important;
$purple4: #9e68bc !important;
$purple5: #8542a4 !important;
$purple6: #773795 !important;
$purple7: #692c85 !important;
$purple8: #5e2479 !important;
$purple9: #531c6c !important;

$marine1: #E4E8F5 !important;
$marine2: #93a5dd !important;
$marine3: #8495c9 !important;
$marine4: #5870c0 !important;
$marine5: #3b55b2 !important;
$marine6: #304aa5 !important;
$marine7: #243e98 !important;
$marine8: #1b3387 !important;
$marine9: #112776 !important;

$marista-blue: #005187 !important;