$font-family-titles: "Product-Sans-Regular", Arial, Helvetica, sans-serif;
$font-family-titles-bold: "Product-Sans-Bold", Arial, Helvetica, sans-serif;
$font-family-regular: "Product-Sans-Regular", Arial, Helvetica, sans-serif;
$font-family-medium: "Product-Sans-Regular", Arial, Helvetica, sans-serif;

